<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Enter the details</h1>
    <form method="POST" action="/" id="data-form">
        <input type="radio" name="ID" value="student_id" required />
        <label>Student ID</label>
        <input type="radio" name="ID" value="course_id" required />
        <label>Course ID</label>
        <input type="text" name="id_value" required />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
